@model IEnumerable<GuildCars.Models.Tables.Special>

@{
    ViewBag.Title = "Specials";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
    @Html.ValidationMessage("error")
</div>

<div class="row">
    <div class="form col-md-12" id="adminAddMakeModelDiv">
        @using (Html.BeginForm("Specials", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "specialsSubmit" }))
        {
            <div class="form-inline">
                <label class="col-md-1 control-label"><strong>Title</strong></label>&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" style="width:325px;" name="title" id="title" placeholder="Enter title of new special...">
            </div>
            <br />
            <div class="form-inline">
                <label class="col-md-1 control-label description"><strong>Desciption</strong></label>&nbsp;&nbsp;&nbsp;
                <textarea class="form-control input-md" name="description" id="description" rows="6" cols="40"></textarea>
            </div>
            <br />
            <div class="block" style="padding-left:10%">
                <input type="submit" name="btnSubmit" value="Save" class="btn btn-primary" onclick="return confirm('Are you sure you want to add this Special?');" />
            </div>

        }
    </div>

    <div class="col-md-12">
        @foreach (var special in Model)
        { 
            <div class="col-md-12" id="specialsDivForAdmin">
                <div class="col-md-12" id="specialsDescriptDiv">
                    <p class="specialsImage"><img src="@Url.Content("~/Images/Specials/dollar-sign.jpg")" style="float:left; padding-right:20px; padding-bottom: 20px" width="150" height="180" /></p>
                    <p class="specials">
                        <strong>@special.SpecialTitle</strong>
                        @using (Html.BeginForm("DeleteSpecial", "Admin", new { id = special.SpecialId }, FormMethod.Post, new { enctype = "multipart/form-data" } ))
                        {
                        <input type="submit" name="btnDelete" value="Delete" class="btn btn-primary" style="float:right" onclick="return confirm('Are you sure you want to delete this Special?');" />
                        }
                    </p>
                    <p class="specials">@special.SpecialDescription</p>
                </div>

            </div>
        }
    </div>

</div>

